# Prerequisites
source\*.d

# Compiled Object files
source\*.slo
source\*.lo
source\*.o
source\*.obj

# Precompiled Headers
source\*.gch
source\*.pch

# Compiled Dynamic libraries
source\*.so
source\*.dylib
source\*.dll

# Fortran module files
source\*.mod
source\*.smod

# Compiled Static libraries
source\*.lai
source\*.la
source\*.a
source\*.lib

# Executables
source\*.exe
source\*.out
source\*.app
